a:visited {color: #0095c7 !important}
/*USPS Address equal height */
.blbdr{ border: 1px solid #5EC2EB; position: relative; overflow: hidden !important;}
.uspsWrap2{float:left; width:100%; position:relative; right:50%; background-color: #fff; }
.uspsWrap1{clear:left; float:left; width:100%; overflow:hidden; background-color: #ebf6fa; }
.uspsWrap1 .one_half{float:left; position:relative; left:50%; overflow:hidden; }
.uspsWrap1 .column_last{float:left; position:relative; left:50%; overflow:hidden; }

/*UI dialog */
.ui-dialog{margin: 0 !important;display: none;} /*Already availble in jun release global CSS*/
.popup{display: none;}

/*Table spacing adjest*/
table.styleB tr td{padding: 5px 10px !important;}

/*button inside the table*/
table.styleB{min-width: 100px;}
table.styleB tr td button.btnSmall{text-align: center; cursor: pointer;}
table.styleB tr td button.btnSmall span{border: none;}
.btnOff{cursor: default !important}

/*Update button Alignments*/
.btnSmall{font-size: 12px;}
/*.inProcess{padding-right: 30px}*/
.btnBar{margin-right: 10px}
.btnBar button{margin: 0 0 0 0 !important}

/*Button inside the form fields */
.lblFieldPair .btn{border: 1px solid #d98106}
.lblFieldPair .btn3{border: 1px solid #bfc8d0}
.lblFieldPair .btnOff{border: 1px solid #bfc8d0}
.txthlt5{width: 95px; margin: 0 auto; display: block}

.goBtn{width: auto}
.accessCodeLookup .lblFieldPair{margin-bottom: 5px}
.accessCodeLookup .lblFieldPair input{vertical-align: top}

#lookupClientName {
	width: 100%;
}
	#lookupClientName .input{
	    width: -webkit-calc(100% - 150px);
	    width: -moz-calc(100% - 150px);
	    width: calc(100% - 150px);
	    width: 80%\9;
	}
#lookupProcess{visibility: hidden;}
#lookupProcess .inProcess{padding-right: 10px; padding-left: 5px}

/*Button changes*/
button, input.btn, input.btn2, input.btn3, input.btn4{
	font:bold 12px Arial,Helvetica,sans-serif !important;
}
/*input.btnSmall, 
button.btnSmall, 
a.btnSmall span,
input.btnSmall:active, 
button.btnSmall:active {
    padding: 1px 10px;
}*/
button:focus, input.btn:focus,input.btn2:focus,input.btn3:focus,input.btn4:focus,input.btnOff:focus,
input.btnSmall:focus, button.btnSmall:focus{
	text-decoration: none !important;
}

/*UD Global Updates - Form fields alignment in IE6*/
.lblFieldPairGroup .lblFieldPair{
	display:block;
	float:left;
}
.lblFieldPairGroup .nth .lbl{
	width:auto !important;
	margin:0 10px 0 5px;
}
.lblFieldPairGroup .lblFieldPair  .input{
	margin-left: 0;
}
.lblFieldPair .input input, 
.lblFieldPair .input select, 
.lblFieldPair .input textarea{
	margin-right:10px;
}

#saveResidentialAdd label{
	display: inline-block;
}

#uptAddrBtn.btnSmall{
	width:auto;
}
/*
.ui-dialog .ui-dialog-titlebar{
	background: url("/themes/ud_atom/images/userlogo.png") no-repeat scroll 7px 11px #E3E7EA;
    padding-left: 30px;
}
*/

/* Alignment in Address modal */
.lblFieldPair label#disclosure {
    width: 430px;
}

#disclosure-verification{
	margin-top: 3px;
}

#verification p.p,
#saveResidentialAdd p.p{
	margin-bottom: 0;
}

/*Temporary - Error message in modal */
#res-add-alert{
	display: block;
}

#pdetails-req{
	position: relative;
	top: -12px;
}

#lblmailing_address,
#lblresidential_address,
#mAddress,
#uspsAddress{
	text-transform: uppercase;
}

#lblempid{
	font-weight: bold;
}

/* open Enrollment */

.sec-head h3{ float: left;margin:0px 0 10px}
.sec-head #fastLaneSec{float: right;}

.content .planpanel .panels{
	margin-left: 15px;
}

.vtop{
	vertical-align: top !important;
}
.globalsearch .searchBox .txtInputgs {
}

.searchBox .txtInputgs {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: -1px 0 0 5px;
    padding: 0;
    width: 450px!important;
}
	
.searchBox .txtInputgs {
    border: medium none;
    box-shadow: none;
    font-size: 12px;
    /*left: 2px;*/
    padding: 0;
    position: relative;
    vertical-align: middle;
}

#acc-code-tbl{
	height: 250px;
	overflow-y: auto;
}

#findAccessCode .searchBox .btnSubmit{
	visibility: hidden;
}
.bgcol{
	background-color: #F4F9FE
}
td.last,
tr.last{
	border-bottom: 2px solid #EFF0F1 !important
}

/*.one_fourth span.txtb{
	display:inline-block;
	width:130px;
}*/

#Select_Location1{
	width:463px;
}
#sel-loc.hide{
	visibility: hidden;
}

#tableEPlan .pageutil .editLink .icon, .editLink .icon {
    margin-left: 5px;
    margin-top: -11px;
}

/* Table style 'teleEnrollTbl' added to support rowspan data */

/*table.styleB.teleEnrollTbl tr td,
.planpanel .panels table.styleB.teleEnrollTbl tr td{
	border-bottom: none;
	padding:3px 10px !important;
	vertical-align: top;
}

table.teleEnrollTbl tr.rowData td,
.planpanel .panels table.teleEnrollTbl tr.rowData td{
	border-top: 1px solid #EBEDEF;
}*/

/*#addressDiscrepancyAlert{
	width: 500px !important;
}*/

#addressDiscrepancyAlert label{
	display: inline-block;
}

#addrDisChk{
	vertical-align: bottom;
}

.shdBox .one_third{
	margin-right: 1%;
}

.compact .lblFieldPair div.txtl{
	width:122px !important;
}

.ui-dialog .btnBar{
	margin-right: 0;
}

/*.popup .compact{
	max-height: 450px;
    overflow-y: auto;
}*/
table#elgbPlnsAdd11 tbody tr td input.tipLink,table#elgbPlnsAdd tbody tr td input.tipLink{
	background-position: -29px -33px;
    height: 11px;
    width: 11px;
}