<div class="mb"><a href="tele_enroll.html" title="Back to Telephone Enrollment">Back to Telephone Enrollment</a></div>
<div class="descl">
  For internal use only
</div>
<div class="leftnav" id="leftNav">
  <h3>Contents</h3>
  <ul class="leftul">
    <!-- <li>
      <a title="Prior Contributions" href="#prior-contrib">PRIOR CONTRIBUTIONS</a>
    </li> -->
    <li>
      <a title="SUNY TAX DEFERRED ANNUITY PLAN151167" href="#SunyDtaxPlan1">SUNY TAX DEFERRED ANNUITY PLAN151167 </a>
    </li>
    <li>
      <a title="SUNY TAX DEFERRED ANNUITY PLAN151168" href="#SunyDtaxPlan2">SUNY TAX DEFERRED ANNUITY PLAN151168</a>
    </li>
</ul>
<h3>Consultant's Tools</h3>
<ul class="leftul">
<!-- <li>
<div class="cont">
  <a href="#" title="Unified Desktop Home">Unified Desktop Home</a>
</div>
</li> -->
<li>
<div class="cont">
  <a href="#" title="Admin Web Center">Admin Web Center</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Microsite">Microsite</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Direct Segment">Direct Segment</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Plan Rules">Plan Rules</a>
</div>
</li><li>
<div class="cont">
  <a href="#" title="Plan Rules">Plan Details</a>
</div>
</li>
</ul>
</div>