<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span>The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
  </div>
</div>
<div class="shdBox mbm pt plr grd1 clearfix">
<div class="one_fourth">
  <ul class="nlist">
    <li>
      <span class="txtb mllg">Start Date </span>: 10/01/13
    </li>
    <li class=''>
        <span class="txtb mllg">End Date </span>: 12/31/2013
    </li>
  </ul>
</div>
<div class="one_fourth">
  <ul class="nlist">
    <li>
        <span class="txtb mllg">Black out Start Date </span>: 01/01/2014
    </li>
    <li class=''>
        <span class="txtb mllg">Black out End Date </span>: 01/14/2014
    </li>
  </ul>
</div>
<div class="one_fourth">
  <span class="txtb mls">Effective Date </span>: 05/02/2014
</div>
<div class="one_fourth column_last"></div>
</div>
<!-- Panels -->

<div class="panels">
   <div class="hd first" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a>
      </h3>
   </div>
   <div class="content">
      <div class="bd ">
       <div class="panels ">
       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">4038</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remanining Pay Cycles</th>
              <th scope="col" >PerPay Cycle Deferral</th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Deferrals</th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >05/02/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >$4490</td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Deferral Type : Percent</span><span class="mlxlg">Deferral Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt " rowspan="4">E</td>
                        <td class="alignt " rowspan="4">2%</td>
                        <td class="alignt " rowspan="4">TIAA-CREF</td>
                        <td class="alignt " rowspan="4">100%</td>
                        <td class="">GA1001</td>
                        <td class="">25%</td>
                        <td>$47</td>
                      </tr>
                      <tr>
                        <td  class="bgcol">GRA1001</td>
                        <td class="bgcol">30%</td>
                        <td class="bgcol">$57</td>
                      </tr>
                      <tr>
                        <td class="bgcol">SRA1001</td>
                        <td class="bgcol">15%</td>
                        <td class="bgcol">$28</td>
                      </tr>
                      <tr>
                        <td class="bgcol">RC1001</td>
                        <td class="bgcol">30%</td>
                        <td class="bgcol">$57</td>
                      </tr>
                  </tbody>
                  </table>
            </div>
        </div>
      <!-- <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Auto Save
                  </a>
             </h3>
          </div> -->
        <!-- <div class="content">
                <div class="bd">
            <table id="" class="styleA fw " summary="Auto Save" role="Auto Save">
                <caption>
                   Auto Save
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >Auto save available</th>
                  <th scope="col" >Opt In/OptOut Enabled</th>
                  <th scope="col" >Enrollee Election</th>
                  <th scope="col" >Increase Types</th>
                  <th scope="col" >Annual Increase Min</th>
                  <th scope="col" >Annual Increase Max</th>
                  <th scope="col" >Date of Next Increase</th>
                  <th scope="col"> Source </th>
                  <th scope="col" >Incremental Increase</th>
             </tr>
             </thead>
             <tbody>
               <tr  class="bgcol">
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>In</td>         
                  <td>% and $</td>
                  <td>1%</td>
                  <td>1%</td>
                  <td>Jan.1</td>
                  <td>E</td>
                  <td>2%</td>        
               </tr>
             </tbody>
             </table>
            </div>
        </div> -->
      <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
                <div class="planpanel">
                       <div class="panels">
                          <div class="hd first">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Beneficiaries</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GR1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr>
                              </tbody>
                             </table>
               </div>
                          </div>
               <div class="hd">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                   <table id="dataDisplay1" class="styleA fw   closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4" class="alignt bgcol">GR1001</td>
                  <td rowspan="4" class="alignt bgcol">Real Estate</td>
                  <td class="bgcol">Cref Social Choice</td>
                  <td class="bgcol">25%</td>
                </tr>
                <tr>
                  <td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
                  <td class="bgcol">35%</td>
                </tr>
                <tr>
                  <td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
                  <td class="bgcol">20%</td>
                </tr>
                <tr>
                  <td class="bgcol">CREF GLOBAL EQUITIES</td>
                  <td class="bgcol">20%</td>
                </tr>
                 <tr >
                  <td rowspan="32" class="alignt">RA1006</td>
                  <td rowspan="32" class="alignt">Real Estate</td>
                  <td>CREF STOCK</td>
                  <td>%</td>
                </tr>
                <tr>
                   <td>CREF MONEY MARKET</td>
                   <td>%</td>
                </tr>
                <tr>
                   <td>CREF SOCIAL CHOICE</td>
                   <td>%</td>
                </tr>
                <tr>
                  <td>CREF BOND MARKET </td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>CREF GLOBAL EQUITIES</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>CREF GROWTH</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>CREF EQUITY INDEX</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> CREF INFLATION-LINKED BOND</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS INTL EQUITY T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS GROWTH & INCOME T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> TIAA ACCESS LG-CAP VAL T1</td>
                  <td>%</td>
                </tr>
                
                <tr>
                  <td>TIAA ACCESS MID-CAP GR T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS MID-CAP VAL T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS SM-CAP EQUITY T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> TIAA ACCESS INTL EQUITY IDX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LG-CAP GR IDX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS S&P 500 INDEX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS EQUITY INDEX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LG-CAP VAL IDX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2055 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS SM-CAP BL IDX T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2010 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2015 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2020 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2025 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2035 T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS LIFECYCLE 2040 T11</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>TIAA ACCESS-AF WASH MUT INV T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> TIAA ACCESS-AF EURO PAC GR T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> TIAA ACCESS-WAM CORE PL BD T1</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td> TIAA ACCESS-VAN EM MK ST IX T1</td>
                  <td>%</td>
                </tr>
                <tr>  
                  <td> TIAA ACCESS-TRP INST LC GR T1</td>
                  <td>%</td>
                </tr>
              </tbody>
                             </table>
                           </div>
                         </div>
               
                       </div>
                   </div>
            </div>
        </div>
        <div class="flr mtblg">
                <span class="fll mrm">
                                 <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
                </div>

    </div>
    <!--End of Sub panels-->
      </div>
   </div>
  <!--  <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="collapsed" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
       <div class="bd mtblg">
      <h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
          <div class="flr mtm">
        <span class="fll mrm">
                    <input id="viewhistory1" class="btn btnSmall" type="button" title="View History" value="View History">
                </span>
          <span class="fll mrm">
                     <input id="enterSDA1" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                </span>
          <span class="fll">
                     <input id="update1" class="btn btnSmall" type="button" title="Update" value="Update">
                </span>
      </div>
            <div class="clear"></div>     
    </div>
    </div>-->
   
   <!-- End of Plan1 -->

   <!-- Plan2 Starts Here -->
  <!-- <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) - </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
           <div class="flr mtblg">
           <span class="fll mrm">
                        <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                    </span>
          <span class="fll mrm">
                        <input id="enterSDA" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                    </span>
          <span class="fll">
                      <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                    </span>
         </div>
        </div>
   </div>-->
     <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="collapsed" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) </a>    
      </h3>
   </div>
   <div class="content">
      <div class="bd">
        <div class="panels ">   
         <div class="hd">
               <h3>
                  <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Prior Contributions
                  </a>
               </h3>
           </div>
       <div class="content">
               <div class="bd">
                <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35" >
                        <col span="1" class="w35" >
                        <col span="1" class="w30" >
                       </colgroup>
                       <thead>
                         <tr>
                           <th scope="col" >Internal Revenue Code</th>
                           <th scope="col" >Contribution Source</th>
                           <th scope="col" >Contribution Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">No date to display</td>
                         </tr>
                     </tbody>
                  </table>
          <div class="txtc txtb mtbm">(OR)</div>
          <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35">
                        <col span="1" class="w35">
                        <col span="1" class="w30">
                       </colgroup>
                       <thead>
                         <tr>
                           <th scope="col" >Internal Revenue Code</th>
                           <th scope="col" >Contribution Source</th>
                           <th scope="col" >Contribution Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">Prior Contributions are not stored for this plan</td>
                         </tr>
                     </tbody>
                  </table>
        </div>
        </div> 

         <div class="hd">        
               <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                     Salary Deferral Details
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
          <table id="sal2a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" class="">Effective Date</th>
              <th scope="col" class="">Remanining Pay Cycles</th>
              <th scope="col" class="">PerPay Cycle Deferral</th>
              <th scope="col" class="">YTD Contribution</th>
              <th scope="col" class="">Annual Total Plan Deferrals</th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="">05/02/2014</td>
              <td class="">22</td>
              <td class="">$1714</td>
              <td class="">$984</td>
              <td class="">$4490</td>
              <td>04/04/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Deferral Type : Max</span><span class="mlxlg">Deferral Amount : $17,500</span></div>  
       
                <table id="sal2b" class="styleA fw" summary="Salary Deferral Details2" role="Salary Deferral Details2">
                     <caption>
                      Salary Deferral Details2
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" class="">Source Name</th>
                        <th scope="col" class="">Source Election Value</th>
                        <th scope="col" class="">Vendor</th>
                        <th scope="col" class="">Vendor Allocation%</th>
                        <th scope="col" class="">Sub-Plan</th>
                        <th scope="col" class="">Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr >
                        <td class="alignt " rowspan="2">E</td>
                        <td class="alignt " rowspan="2">$20500</td>
                        <td class="">TIAA-CREF</td>
                        <td class="">50%</td>
                        <td class="alignt ">GS1001</td>
                        <td class="alignt" >100%</td>
                        <td>$476</td>
                      </tr>
                      <tr>
                        <td class="">Fedility</td>
                        <td class="">50%</td>
                        <td></td>
                        <td></td>
                        <td>$476</td>
                      </tr>
                  </tbody>
                  </table>
          
          <div class="fll mtb">Employer Contribution</div> <div class="flr mtb"><span class="mrxlg">Deferral Type : Percent</span><span class="mlxlg">Deferral Amount : 2%</span></div>  
       
                <table id="sal2" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" class="">Source Name</th>
                        <th scope="col" class="">Source Election Value</th>
                        <th scope="col" class="">Vendor</th>
                        <th scope="col" class="">Vendor Allocation%</th>
                        <th scope="col" class="">Sub-Plan</th>
                        <th scope="col" class="">Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr >
                        <td class="alignt " rowspan="4">F</td>
                        <td class="alignt " rowspan="4">8%</td>
                        <td class="">TIAA-CREF</td>
                        <td class="">10%</td>
                        <td class="alignt ">GR1001</td>
                        <td class="alignt ">70%</td>
                        <td class="alignt">$533</td>
                      </tr>
                      <tr >
                        <td class=""></td>
                        <td class=""></td>
                        <td class="alignt ">GRA1001</td>
                        <td class="alignt ">30%</td>
                        <td class="alignt">$228</td>
                      </tr>
                      <tr >
                        <td class="">AIG</td>
                        <td class="">80%</td>
                        <td class="alignt "></td>
                        <td class="alignt "></td>
                        <td class="alignt"></td>
                      </tr>
                      <tr >
                        <td class="">MetLife</td>
                        <td class="">10%</td>
                        <td class="alignt"></td>
                        <td class="alignt"></td>
                        <td class="alignt"></td>
                      </tr>
                  </tbody>
                  </table>
            </div>
        </div>
      <!-- <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Auto Save
                  </a>
             </h3>
          </div> -->
        <!-- <div class="content">
                <div class="bd">
                      <table id="" class="styleA fw  " summary="Auto Save" role="Auto Save">
                <caption>
                   Auto Save
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >Auto save available</th>
                  <th scope="col" >Opt In/OptOut Enabled</th>
                  <th scope="col" >Enrollee Election</th>
                  <th scope="col" >Increase Types</th>
                  <th scope="col" >Annual Increase Min</th>
                  <th scope="col" >Annual Increase Max</th>
                  <th scope="col" >Date of Next Increase</th>
                  <th scope="col"> Source </th>
                  <th scope="col" >Incremental Increase</th>
             </tr>
             </thead>
             <tbody>
              <tr >
                <td>Yes</td>
                <td>Yes</td>
                <td>In</td>

                <td>% and $</td>
                <td>1%</td>
                <td>1%</td>
                <td>Jan.1</td>
                <td>E</td>
                <td>2%</td>

              </tr>
             </tbody>
             </table>
            </div>
        </div> -->
      <div class="hd">
               <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
                <div class="planpanel">
                       <div class="panels">
                          <div class="hd first">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Beneficiaries</a>
                              </h3>
                          </div>
                     <div class="content">
                     <div class="bd">
                    <table id="dataDisplay" class="styleA fw " summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GR1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr  class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr  class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <tr class="last" >
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr  class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr>
                              </tbody>
                             </table>
               </div>
                          </div>
               <div class="hd">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
                   <table id="" class="styleA fw  " summary="Auto Save" role="Auto Save">
                              <caption>
                               Allocation
                              </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                <tr>
                                 <th scope="col" >Sub-Plan</th>
                                 <th scope="col" >Asset Class</th>                                 
                                 <th scope="col">Fund Name</th>
                                 <th scope="col" >% Allocated</th>
                               </tr>
                             </thead>
                            <tbody>
                              <tr >
                                <td rowspan="5" class="alignt">GR1001</td>
                                <td rowspan="5" class="alignt">Fund Allocation</td>
                                <td>Cref Social Choice B</td>
                                <td>25%</td>
                              </tr>
                              <tr>
                                <td>PRUDENTIAL SMALL COMPANY Q</td>
                                <td>35%</td>
                              </tr>
                              <tr>
                                <td>AMERICAN GROWTH OF AMERICA R6</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>CREF GLOBAL EQUITIES</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>PRUDENTIAL SMALL COMPANY Q</td>
                                <td>35%</td>
                              </tr>
                            </tbody>
                             </table>
              
               </div>
                          </div>
               
                       </div>
                   </div>
            </div>
        </div>

        <div class="flr mtm">
                <span class="fll mrm">
                                 <input id="viewhistory2" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA2" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update2" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
               </div>
        </div>
   </div>
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
<!-- </div> -->
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
</div>
   <!-- End of Plan2 -->

</div>
<!-- End Pannel -->
<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>