<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span>The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
  </div>
</div>
<h2>JHU Open Enrollment - Start, end, effective date, black out start date and blackout end dated</h2>
<!-- Panels -->
<div class="panels">
   <!-- plan1 Starts Here -->
    <div class="hd first" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
       <div class="bd mtblg">
			<h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
	        <div class="flr mtm">
				<span class="fll mrm">
                    <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                </span>
			    <span class="fll mrm">
                     <input id="enterSDA" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                </span>
			    <span class="fll">
                     <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                </span>
			</div>
            <div class="clear"></div>			
		</div>
    </div>
   <!-- End of Plan1 -->

   <!-- Plan2 Starts Here -->
   <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
       	 <h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
	         <div class="flr mtblg">
				   <span class="fll mrm">
                        <input id="viewhistory1" class="btn btnSmall" type="button" title="View History" value="View History">
                    </span>
					<span class="fll mrm">
                        <input id="enterSDA1" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                    </span>
					<span class="fll">
                      <input id="update1" class="btn btnSmall" type="button" title="Update" value="Update">
                    </span>
			   </div>
        </div>
   </div>
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
</div>
<!-- End Pannel -->
<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>