<div class="mb"><a href="#" title="Back to Participant Summary">Return to Participant Summary</a></div>
<div class="descl">
  For internal use only
</div>
<div class="leftnav" id="leftNav">
  <h3>Contents</h3>
  <ul class="leftul">
    <li>
      <a title="Enrollment Look Up" href="#EnrollmentLookUp">Enrollment Look Up</a>
    </li>
    <li>
      <a title="Participant Details" href="#ParticipantDetails">Participant Details</a>
    </li>
	 <li>
      <a title="Open Enrollment" href="#openEnrollment">Open Enrollment</a>
    </li>
    <!-- <li id="spec">
    <a title="Access Code and Eligibility " href="#AccessCodeEligibility ">
      Access Code and Eligibility Look Up
    </a>
  </li> -->
 
  <li>
    <a title="Eligible Plans" href="#EligiblePlans">Eligible Plans</a>
  </li>
  <!-- <li>
  <a title="Eligible Plans Additional" href="#EligiblePlansAdditional">
    Eligible Plans Additional
  </a>
</li>
-->
<!-- <li>
<a title="Plan Status Overview" href="#PlanStatusOverview">Plan Status Overview</a>
</li>
-->
<li>
<a title="Active Plans" href="#ActivePlans">Active Plans</a>
</li>

<li>
<a title="Take Action" href="#TakeAction">Take Action</a>
</li>
</ul>
<h3>Consultant's Tools</h3>
<ul class="leftul">
<!-- <li>
<div class="cont">
  <a href="#" title="Unified Desktop Home">Unified Desktop Home</a>
</div>
</li> -->
<li>
<div class="cont">
  <a href="#" title="Admin Web Center">Admin Web Center</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Microsite">Microsite</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#findAccessCode" title="Find Access Code">Find Access Code</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Direct Segment">Direct Segment</a>
</div>
</li>
<li>
<div class="cont">
  <a href="#" title="Plan Rules">Plan Rules</a>
</div>
</li><li>
<div class="cont">
  <a href="#" title="Plan Rules">Plan Details</a>
</div>
</li>
</ul>
</div>