<div class="panels protoDyna nyu">
  <div class="hd first" id="nyu">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403400</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd ">
       <div class="panels ">       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">4038</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remaining Pay Cycles</th>
              <th scope="col" >PerPay Cycle Deferral</th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Deferrals</th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >06/11/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >$4490</td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Contribution Type : Percent</span><span class="mlxlg">Contribution Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">E</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GA1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>
            </div>
        </div>

        <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
              <div class="planpanel">
                 <div class="panels">

                   <div class="hd first">
                         <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                             <span class="icon">+</span>Beneficiaries</a>
                        </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GA1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <!-- <tr class="last">
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr> -->
                              </tbody>
                             </table>
               
                      </div>
                    </div>

                    <div class="hd first">
                         <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                   <table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4" class="alignt bgcol">GA1001</td>
                  <td rowspan="4" class="alignt bgcol">Real Estate</td>
                  <td class="bgcol">Cref Social Choice</td>
                  <td class="bgcol">25%</td>
                </tr>
                <tr>
                  <td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
                  <td class="bgcol">35%</td>
                </tr>
                <tr>
                  <td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
                  <td class="bgcol">20%</td>
                </tr>
                <tr>
                  <td class="bgcol">CREF GLOBAL EQUITIES</td>
                  <td class="bgcol">20%</td>
                </tr>
                 
              </tbody>
                             </table>
                           
                      </div>
                    </div>


                 </div>
              </div> 
        </div>
      
        <div class="flr mtblg">
                <span class="fll mrm">
                                 <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
                </div>

    </div>
    <!--End of Sub panels-->
      </div>
   </div>
</div>


<div class="panels protoDyna suny">
  <div class="hd first" id="suny">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN - 151187</a>
      </h3>
   </div>

   <div class="content">
      <div class="bd ">
       <div class="panels ">       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">4038</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content protoDyna nyu">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remaining Pay Cycles</th>
              <th scope="col" >PerPay Cycle Deferral</th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Deferrals</th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >06/11/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >$4490</td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Contribution Type : Percent</span><span class="mlxlg">Contribution Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">E</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>
            </div>
        </div>
         <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
              <div class="planpanel">
                 <div class="panels">

                   <div class="hd first">
                         <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                             <span class="icon">+</span>Beneficiaries</a>
                        </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GS1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <!-- <tr class="last">
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr> -->
                              </tbody>
                             </table>
               
                      </div>
                    </div>

                    <div class="hd first">
                         <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                   <table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4" class="alignt bgcol">GS1001</td>
                  <td rowspan="4" class="alignt bgcol">Real Estate</td>
                  <td class="bgcol">Cref Social Choice</td>
                  <td class="bgcol">25%</td>
                </tr>
                <tr>
                  <td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
                  <td class="bgcol">35%</td>
                </tr>
                <tr>
                  <td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
                  <td class="bgcol">20%</td>
                </tr>
                <tr>
                  <td class="bgcol">CREF GLOBAL EQUITIES</td>
                  <td class="bgcol">20%</td>
                </tr>
                 
              </tbody>
                             </table>
                           
                      </div>
                    </div>


                 </div>
              </div> 
        </div>
      
        <div class="flr mtblg">
                <span class="fll mrm">
                                 <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
                </div>

    </div>
    <!--End of Sub panels-->
      </div>
   </div>
  
  
   </div>


   

<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>

<script type="text/javascript">
  
  $(document).on('bodyContLoaded', function() {
  // demo-july - Scripts
  var details              = store.get('details');
  $('.protoDyna').hide();
  $('.'+details+'').show();

});
</script>