ul.l1nav {
    background-color: #EFF2F4;
    background-image: -moz-linear-gradient(#F7F8F9, #E6EAED);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F8F9), to(#E6EAED));
    background-image: -webkit-linear-gradient(#F7F8F9, #E6EAED);
    background-image: linear-gradient(top, #F7F8F9, #E6EAED);
    background-image: -o-linear-gradient(top, #F7F8F9, #E6EAED);
    background-image: -ms-linear-gradient(top, #F7F8F9, #E6EAED);
    border-color: #f7f8f9 #CED1D6 #CED1D6;
    border-style: solid;
    border-width: 0 1px 2px;
    clear: both;
    height: 38px;
    left: 0;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 978px;
    z-index: 99
}
ul.l1nav > li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid #CED1D6
}
ul.l1nav > li: last-child {
    border: none
}
ul.l1nav > li.last {
    border: none
}
ul.l1nav > li > a {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    padding: 13px 16px 9px 17px;
    position: relative;
    text-transform: uppercase
}
ul.l1nav > li > a, .no-touch ul.l1nav > li > a:hover {
    color: #0B7599
}
ul.l1nav > li > a.selected {
    background-color: #CED1D6;
    color: #000;
    z-index: 98
}
.no-touch ul.l1nav > li > a:hover, ul.l1nav > li > a.megamenuhover {
    background-color: #ffffff;
    border-color: #D1D1D1 #FFFFFF #FFFFFF;
    border-style: solid;
    border-width: 1px 0 2px;
    color: #0B7599;
    padding: 12px 16px 9px 17px;
    text-decoration: none
}
ul.l1nav .megamenu {
    left: -2px
}
ul.l1nav .nav-icon {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    background-position: -247px -93px;
    overflow: hidden;
    height: 5px;
    width: 6px;
    margin-left: 5px;
    top: -3px
}
ul.l2nav {
    display: none
}
hr{
    display: none
}