<!-- Plan 403400 -->
<div class="panels">
	<div class="hd first" id="plan400">
		<h3 id="qaPlan400"><a href="#" class="expanded" title="Select to expand or collapse content below">
			<span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403400</a>
		</h3>
	</div>
    <div class="content">
		<div class="bd">
			<div class="panels leftNavMenu">       
				<div class="hd" id="prior-contrib">
					<h3><a class="collapsed" title="Select to expand or collapse content below" href="#">
					<span class="icon">+</span>Prior Contributions</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
							<caption>Prior Contributions</caption>
							<colgroup>
								<col span="1" class="w35" >
								<col span="1" class="w35" >
								<col span="1" class="w30" >
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Internal Revenue Code</th>
									<th scope="col" >Contribution Source</th>
									<th scope="col" >Contribution Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td class="alignt " rowspan="2">4038</td>
									<td>Pre Tax</td><td class="">$500 </td>
								</tr>
								<tr  class="">
									<td>Roth</td>
									<td>$200 </td>
								</tr>
								<tr >
									<td class="alignt" rowspan="2">4578</td>
									<td>Pre Tax</td>
									<td>--</td>
								</tr>
								<tr>
									<td>After Tax</td>
									<td>$400 </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!--content -->
				<div class="hd">
					<h3 class="ntsep">
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
						<caption>Salary Deferral Details1</caption>
							<thead>
								<tr>
									<th scope="col" >Effective Date</th>
									<th scope="col" >Remaining Pay Cycles</th>
									<th scope="col" >PerPay Cycle Contribution
										<input type="button" id="tooltip-perpayCD400" name="tooltip-perpayCD400Cont" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD400Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-perpayCD400Cont" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
									</th>
									<th scope="col" >YTD Contribution</th>
									<th scope="col" >Annual Total Plan Contribution
										<input type="button" id="tooltip-annualTPC400" name="tooltip-annualTPC400Cont" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC400Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-annualTPC400Cont" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>
									</th>
									<th scope="col">Last Updated Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="" >06/11/2014</td>
									<td class="" >21</td>
									<td class="" >$190</td>
									<td class="" >$500</td>
									<td class="" >
										<input type="button" id="tooltip-atpc400" name="tooltip-atpc400" class="tipLink2 titletip" value="$4490.00" role="button" aria-describedby="help-atpc400" />
										<div class="tipContents" id="help-atpc400" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
									</td>
									<td>03/01/2014</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<input type="button" id="tooltip_defType400" name="tooltip_defTypeCont400" class="tipLink" value="?" role="button" aria-describedby="tooltip_defTypeCont400" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
							<div class="tipContents" id="tooltip_defTypeCont400" role="tooltip" aria-hidden="true"> The Maximum Deferral Value is an estimated amount calculated using today's data on file. Estimates may change with future effective dates and events that impact the maximum contribution amount. </div>
							<span class="mrxlg">Deferral Type : MAX</span>
							<span class="mlxlg">Current Year Remaining Deferral Amount : $545.45</span>
							<input type="button" id="tooltip-Demo400" name="tooltip-Demo400" class="tipLink" value="?" role="button" aria-describedby="help-Demo400"/>
							<div class="tipContents" id="help-Demo400" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>
						</div> 
						<table id="" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="">
								<td class="alignt">E</td>
								<td class="alignt">
								<a href="#" aria-describedby="help-exampleText400" role="button" class="tipLink2" name="tooltip-exampleText400" id="tooltip-exampleText400" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
								<div id="help-exampleText400" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
								<td class="alignt">TIAA-CREF</td>
								<td class="alignt">100%</td>
								<td>GA1001</td>
								<td>25%</td>
								<td>$473</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<span class="mrxlg">Contribution Type : Percent</span>
							<span class="mlxlg">Contribution Amount : 2%</span>
							<input type="button" id="tooltip-example400" name="tooltip-example400" class="tipLink" value="?" role="button" aria-describedby="help-example400"/>
							<div class="tipContents" id="help-example400" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>
						</div>  
						<table id="" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="">
									<td class="alignt">F - Employer</td>
									<td class="alignt">
									<a href="#" aria-describedby="help-exampleText400" role="button" class="tipLink2" name="tooltip-exampleText400" id="tooltip-exampleText400" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
									<div id="help-exampleText400" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
									<td class="alignt">TIAA-CREF</td>
									<td class="alignt">100%</td>
									<td>GS1001</td>
									<td>25%</td>
									<td>$473</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="hd">
					<h3>
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<div class="planpanel">
							<div class="panels">
								<div class="hd">
									<h3>
										<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
											<caption>Beneficiaries</caption>
											<colgroup>
												<col span="1" class="w25" >
												<col span="1" class="w25" >
												<col span="1" class="w25" >
												<col span="1" class="w25" >
											</colgroup>
											<thead>
												<tr>
													<th scope="col">Sub-Plan</th>
													<th scope="col">Type</th>
													<th scope="col"> Name</th>
													<th scope="col">Entitlement</th>
												</tr>
											</thead>
											<tbody> 
												<tr >
													<td rowspan="6" class="alignt">GA1001</td>
													<td rowspan="2" class="alignt">Primary</td>
													<td>Army B</td>
													<td>50%</td>
												</tr>
												<tr>
													<td>Tim W</td><td>50%</td>
												</tr>
												<tr>
													<td rowspan="4" class="alignt">Contingent</td><td>Blair W</td><td>25%</td>
												</tr>
												<tr>
													<td>Petro R</td><td>25%</td>
												</tr>
												<tr>
													<td>Mike E</td><td>25%</td>
												</tr>
												<tr>
													<td>Beckey M</td><td>25%</td>
												</tr>											
											</tbody>
										</table>
									</div>
								</div>
								<div class="hd">
									<h3>
										<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="dataDisplay1" class="styleA fw" summary="Allocation" role="Allocation">
											<caption>Allocation</caption>
											<colgroup>
												<col span="1" class="w25" >
												<col span="1" class="w25" >
												<col span="1" class="w25" >
												<col span="1" class="w25" >
											</colgroup>
											<thead>
												<tr>
													<th scope="col">Sub-Plan</th>
													<th scope="col">Asset Class</th>
													<th scope="col"> Fund Name</th>
													<th scope="col">% Allocated</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<td rowspan="4" class="alignt">GA1001</td>
													<td rowspan="4" class="alignt">Real Estate</td>
													<td>Cref Social Choice</td>
													<td>25%</td>
													</tr>
												<tr>
													<td>PRUDENTIAL SMALL COMPANY Q</td>
													<td>35%</td>
												</tr>
												<tr>
													<td>AMERICAN GROWTH OF AMERICA R6</td>
													<td>20%</td>
												</tr>
												<tr>
													<td>CREF GLOBAL EQUITIES</td>
													<td>20%</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 
					</div> 
				</div>
				
				<div class="hd" id="">
					<h3 id=""><a href="#" class="collapsed" title="Select to expand or collapse content below">
						<span class="icon">+</span>Auto Enrollment</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd ">
						<div class="tableWrapper secLevelPanel">
						<table id="" class="styleB" summary="Auto Enrollment" role="Auto Enrollment">
							<caption>Auto Enrollment</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Auto Enroll Type</th>
									<th scope="col" >SDA Already Created</th>
									<th scope="col" >Auto Enroll Effective Date</th>
									<th scope="col" >Auto Enroll Start Date</th>
									<th scope="col" >Auto Enroll Stop Date</th>
									<th scope="col" >Online Opt-Out</th>
									<th scope="col" >Opt-out Days Remaining</th>
									<th scope="col" >Employee Auto Enroll Determining Factor</th>
									<th scope="col" >Deferral Percentage or Dollar Amount</th>
									<th scope="col" >Permissible Withdrawals</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>ACA</td>
									<td>Yes</td>
									<td>03/21/2016</td>
									<td>04/23/2016</td>
									<td>04/15/2016</td>
									<td>Yes</td>
									<td>30</td>
									<td>Hire Date</td>
									<td>3%</td>
									<td>No</td>
								</tr>
								<tr>
									<td>EACA</td>
									<td>No</td>
									<td>N/A</td>
									<td>03/01/2016</td>
									<td>04/11/2016</td>
									<td>No</td>
									<td>90</td>
									<td>Eligibility Date</td>
									<td>$500</td>
									<td>Yes</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="planpanel mt">
							<div class="panels">
								<div class="hd">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">Auto Enroll Type:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
		 
										<p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Enroll Stop Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Online Opt-Out:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Opt-out Days Remaining:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Employee Auto Enroll Determining Factor:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Percentage or Dollar Amount:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Permissive Withdrawals:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>				
					</div>
				</div>
		
				<div class="hd" id="">
					<h3 id=""><a href="#" class="collapsed" title="Select to expand or collapse content below">
						<span class="icon">+</span>Auto Save</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd ">
						<div class="tableWrapper secLevelPanel">
						<table id="" class="styleB" summary="Auto Save">
							<caption>Auto Save</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
							</colgroup>
							<thead>
								<tr>
									<th>The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
									<th>Participant Override Allowed</th>
									<th>Auto Save Type Allowed</th>
									<th>Auto Save Increase Amount or Percentage</th>
									<th>Auto Save Increase Frequency</th>
									<th>Auto Save Increase Rule</th>
									<th>Auto Save Increase Date</th>
									<th>Deferral Ceiling Limit Set by Participant</th>
									<th>Deferral Ceiling Dollar Amount or Percentage</th>
									<th>Auto Save Increase Amount Cap</th>
									<th>Dollar Amount or Percentage Cap</th>
									<th>Auto Increase Sources</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Employee</td>
									<td>Increase Amount</td>
									<td>Percent</td>
									<td>3%</td>
									<td>Quarterly</td>
									<td>First day of plan year</td>
									<td>12/01/2015</td>
									<td>Yes</td>
									<td>$1,000</td>
									<td>Yes</td>
									<td>$500</td>
									<td>E</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="clear"></div>
						<div class="planpanel mt">
							<div class="panels">
								<div class="hd">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
		 
										<p><span class="txtb">Participant Override Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Auto Save Type Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Ceiling Limit Set by Participant:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount Cap:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Dollar Amount or Percentage Cap:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>	<!--plan panel-->		
					</div> <!-- bd-->
				</div><!--content-->
				<div class="btnBar nbdr">					
					<button title="Modify SDA" class="btn btnSmall cmmnBtn" id="mdifySDA"><span>Modify SDA</span></button>
					<button title="Update" class="btn btnSmall cmmnBtn" id="update"><span>Update</span></button>
				</div>
			</div>
			<!--End of Sub panels-->
		</div><!--bd-->
	</div> <!--content-->

<!-- End of Plan 403400 -->

<!-- Plan 403401 -->

	<div class="hd" id="plan401">
		<h3 id="qaPlan401"><a href="#" class="collapsed" title="Select to expand or collapse content below">
			<span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403401</a>
		</h3>
	</div>
	<div class="content">
		<div class="bd">
			<div class="panels">       
				<div class="hd">
					<h3><a class="collapsed" title="Select to expand or collapse content below" href="#">
					<span class="icon">+</span>Prior Contributions</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
							<caption>Prior Contributions</caption>
							<colgroup>
								<col span="1" class="w35" >
								<col span="1" class="w35" >
								<col span="1" class="w30" >
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Internal Revenue Code</th>
									<th scope="col" >Contribution Source</th>
									<th scope="col" >Contribution Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td class="alignt " rowspan="2">4038</td>
									<td>Pre Tax</td><td class="">$500 </td>
								</tr>
								<tr  class="">
									<td>Roth</td>
									<td>$200 </td>
								</tr>
								<tr >
									<td class="alignt" rowspan="2">4578</td>
									<td>Pre Tax</td>
									<td>--</td>
								</tr>
								<tr>
									<td>After Tax</td>
									<td>$400 </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!--content -->
				<div class="hd">
					<h3 class="ntsep">
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<table class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
							<caption>Salary Deferral Details1</caption>
							<thead>
								<tr>
									<th scope="col" >Effective Date</th>
									<th scope="col" >Remaining Pay Cycles</th>
									<th scope="col" >PerPay Cycle Contribution
										<input type="button" id="tooltip-perpayCD3" name="tooltip-perpayCD3Cont" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD3Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-perpayCD3Cont" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
									</th>
									<th scope="col" >YTD Contribution</th>
									<th scope="col" >Annual Total Plan Contribution
										<input type="button" id="tooltip-annualTPC3" name="tooltip-annualTPC3Cont" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC3Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-annualTPC3Cont" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>
									</th>
									<th scope="col">Last Updated Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="" >06/11/2014</td>
									<td class="" >21</td>
									<td class="" >$190</td>
									<td class="" >$500</td>
									<td class="" >
										<input type="button" id="tooltip-atpc" name="tooltip-atpc" class="tipLink2 titletip" value="$4490.00" role="button" aria-describedby="help-atpc" />
										<div class="tipContents" id="help-atpc" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
									</td>
									<td>03/01/2014</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<input type="button" id="tooltip_defType401" name="tooltip_defTypeCont401" class="tipLink" value="?" role="button" aria-describedby="tooltip_defTypeCont401" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
							<div class="tipContents" id="tooltip_defTypeCont401" role="tooltip" aria-hidden="true"> The Maximum Deferral Value is an estimated amount calculated using today's data on file. Estimates may change with future effective dates and events that impact the maximum contribution amount. </div>
							<span class="mrxlg">Deferral Type : Percent</span>
							<span class="mlxlg">Deferral Amount : 2%</span>
							<input type="button" id="tooltip-Demo401" name="tooltip-Demo401" class="tipLink" value="?" role="button" aria-describedby="help-Demo401"/>
							<div class="tipContents" id="help-Demo401" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>
						</div> 
						<table class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="">
								<td class="alignt">E</td>
								<td class="alignt">
								<a href="#" aria-describedby="help-exampleText401" role="button" class="tipLink2" name="tooltip-exampleText401" id="tooltip-exampleText401" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
								<div id="help-exampleText401" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
								<td class="alignt">TIAA-CREF</td>
								<td class="alignt">100%</td>
								<td>GA1001</td>
								<td>25%</td>
								<td>$473</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<span class="mrxlg">Contribution Type : Percent</span>
							<span class="mlxlg">Contribution Amount : 2%</span>
							<input type="button" id="tooltip-example401" name="tooltip-example401" class="tipLink" value="?" role="button" aria-describedby="help-example401"/>
							<div class="tipContents" id="help-example401" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>
						</div>  
						<table id="" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="">
									<td class="alignt">F - Employer</td>
									<td class="alignt">
									<a href="#" aria-describedby="help-exampleText401" role="button" class="tipLink2" name="tooltip-exampleText401" id="tooltip-exampleText401" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
									<div id="help-exampleText401" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
									<td class="alignt">TIAA-CREF</td>
									<td class="alignt">100%</td>
									<td>GS1001</td>
									<td>25%</td>
									<td>$473</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="hd">
					<h3>
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<div class="planpanel">
							<div class="panels">
								<div class="hd">
									<h3>
										<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
											<caption>Beneficiaries</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th scope="col" >Sub-Plan</th>
													<th scope="col" >Type</th>
													<th scope="col"> Name</th>
													<th scope="col" >Entitlement</th>
												</tr>
											</thead>
											<tbody> 
												<tr>
													<td rowspan="6" class="alignt">GA1001</td>
													<td rowspan="2" class="alignt ">Primary</td>
													<td>Army B</td>
													<td>50%</td>
												</tr>
												<tr>
													<td>Tim W</td><td>50%</td>
												</tr>
												<tr>
													<td rowspan="4" class="alignt">Contingent</td><td>Blair W</td><td>25%</td>
												</tr>
												<tr>
													<td>Petro R</td><td>25%</td>
												</tr>
												<tr>
													<td>Mike E</td><td>25%</td>
												</tr>
												<tr>
													<td>Beckey M</td><td>25%</td>
												</tr>											
											</tbody>
										</table>
									</div>
								</div>
								<div class="hd">
									<h3>
										<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Allocation">
											<caption>Allocation</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">Sub-Plan</th>
													<th scope="col">Asset Class</th>
													<th scope="col">Fund Name</th>
													<th scope="col">% Allocated</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td rowspan="4" class="alignt">GA1001</td>
													<td rowspan="4" class="alignt">Real Estate</td>
													<td>Cref Social Choice</td>
													<td>25%</td>
												</tr>
												<tr>
													<td>PRUDENTIAL SMALL COMPANY Q</td>
													<td>35%</td>
												</tr>
												<tr>
													<td>AMERICAN GROWTH OF AMERICA R6</td>
													<td>20%</td>
												</tr>
												<tr>
													<td>CREF GLOBAL EQUITIES</td>
													<td>20%</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 
					</div> 
				</div>
				
				<div class="hd">
					<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
						<span class="icon">+</span>Auto Enrollment</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
					<div class="tableWrapper secLevelPanel">
						<table class="styleB" summary="Auto Enrollment">
							<caption>Auto Enrollment</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
									<th scope="col" >Participant Override Allowed</th>
									<th scope="col" >Auto Save Type Allowed</th>
									<th scope="col" >Auto Save Increase Amount or Percentage</th>
									<th scope="col" >Auto Save Increase Frequency</th>
									<th scope="col" >Auto Save Increase Rule</th>
									<th scope="col" >Auto Save Increase Date</th>
									<th scope="col" >Participant Self-set Deferral Ceiling Limit</th>
									<th scope="col" >Deferral Ceiling Dollar Amount or Percentage</th>
									<th scope="col" >Auto Save Increase Amount Cap</th>
									<th scope="col" >Cap Dollar Amount or Percentage</th>
									<th scope="col" >Auto Increase Sources</th>
								</tr>
							</thead>
							<tbody>
								<tr class="txtc">
									<td>Employee</td>
									<td>N/A</td>
									<td>Percent</td>
									<td>3%</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>Yes</td>
									<td>$1,000</td>
									<td>No</td>
									<td>$500</td>
									<td>E</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="planpanel mt">
							<div class="panels">
								<div class="hd">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
		 
										<p><span class="txtb">Participant Override Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Auto Save Type Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Participant Self-set Deferral Ceiling Limit:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount Cap:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Cap Dollar Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>				
					</div>
				</div>
		
				<div class="hd">
					<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
						<span class="icon">+</span>Auto Saved</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd ">
					<div class="tableWrapper secLevelPanel">
						<table class="styleB" summary="Auto Saved">
							<caption>Auto Saved</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
									<th scope="col" >Participant Override Allowed</th>
									<th scope="col" >Auto Save Type Allowed</th>
									<th scope="col" >Auto Save Increase Amount or Percentage</th>
									<th scope="col" >Auto Save Increase Frequency</th>
									<th scope="col" >Auto Save Increase Rule</th>
									<th scope="col" >Auto Save Increase Date</th>
									<th scope="col" >Deferral Ceiling Limit Set by Participant</th>
									<th scope="col" >Deferral Ceiling Dollar Amount or Percentage</th>
									<th scope="col" >Auto Save Increase Amount Cap</th>
									<th scope="col" >Dollar Amount or Percentage Cap</th>
									<th scope="col" >Auto Increase Sources</th>
								</tr>
							</thead>
							<tbody>
								<tr class="txtc">
									<td>Employee</td>
									<td>Increase Amount</td>
									<td>Percent</td>
									<td>3%</td>
									<td>Quarterly</td>
									<td>First day of plan year</td>
									<td>12/01/2015</td>
									<td>Yes</td>
									<td>$1,000</td>
									<td>Yes</td>
									<td>$500</td>
									<td>E</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="clear"></div>
						<div class="planpanel mt">
							<div class="panels">
								<div class="hd">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
		 
										<p><span class="txtb">Participant Override Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Auto Save Type Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Ceiling Limit Set by Participant:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Increase Amount Cap:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Dollar Amount or Percentage Cap:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>	<!--plan panel-->		
					</div> <!-- bd-->
				</div><!--content-->
				<div class="btnBar nbdr">					
					<button title="Modify SDA" class="btn btnSmall cmmnBtn" id="mdifySDAPlan01"><span>Modify SDA</span></button>
					<button title="Update" class="btn btnSmall cmmnBtn" id="updatePlan01"><span>Update</span></button>
				</div>
				
				<!--Start of Plan A -->

				<div class="hd mtm">
					<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
					<span class="icon">+</span>Plan A</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
					<div class="tableWrapper secLevelPanel">		
						<table id="planATbl401" class="styleB" summary="Plan A Table">
							<caption>Plan A Table</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">				
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Auto Enroll Type</th>
									<th scope="col" >SDA Already Created?</th>
									<th scope="col" >Auto Enroll Effective Date</th>
									<th scope="col" >Auto Enroll Start Date</th>
									<th scope="col" >Auto Enroll Stop Date</th>
									<th scope="col" >Online Opt-Out</th>
									<th scope="col" >Opt-out Days Remaining</th>
									<th scope="col" >Employee Auto Enroll Determining Factor</th>
									<th scope="col" >Deferral % divided by dollor amount</th>
									<th scope="col" >Permissive Withdrawals</th>					
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>					
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>							
								</tr>
							</tbody>
						</table>
						</div>
						<div class="clear"></div>
						<div class="planpanel mt">
							<div class="panels">
								<div class="hd">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">Auto Enroll Type</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>

										<p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Enroll Stop Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Online Opt-Out:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Opt-out Days Remaining:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										
										<p><span class="txtb">Employee Auto Enroll Determining Factor:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>						
										
										<p><span class="txtb">Deferral % divided by Dollar amount:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Permissive Withdrawals:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>	<!--plan panel-->	
					</div>
				</div><!-- End of Plan A -->				
			</div><!--End of Sub panels-->						
		</div><!--bd-->
	</div> <!--content-->
	<!-- End of Plan 403401-->

	<!-- Plan 403402 -->

	<div class="hd" id="plan402">
			<h3 id="qaPlan402"><a href="#" class="collapsed" title="Select to expand or collapse content below">
				<span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403402</a>
			</h3>
		</div>
		<div class="content">
			<div class="bd">
				<div class="panels">       
					<div class="hd">
						<h3><a class="collapsed" title="Select to expand or collapse content below" href="#">
						<span class="icon">+</span>Prior Contributions</a></h3>
					</div>
					<div class="content">
						<div class="bd">
							<table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
								<caption>Prior Contributions</caption>
								<colgroup>
									<col span="1" class="w35" >
									<col span="1" class="w35" >
									<col span="1" class="w30" >
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >Internal Revenue Code</th>
										<th scope="col" >Contribution Source</th>
										<th scope="col" >Contribution Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td class="alignt " rowspan="2">4038</td>
										<td>Pre Tax</td><td class="">$500 </td>
									</tr>
									<tr  class="">
										<td>Roth</td>
										<td>$200 </td>
									</tr>
									<tr >
										<td class="alignt" rowspan="2">4578</td>
										<td>Pre Tax</td>
										<td>--</td>
									</tr>
									<tr>
										<td>After Tax</td>
										<td>$400 </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div> <!--content -->
					<div class="hd">
						<h3 class="ntsep">
							<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
						</h3>
					</div>
					<div class="content">
						<div class="bd">
							<table class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
								<caption>Salary Deferral Details1</caption>
								<thead>
									<tr>
										<th scope="col" >Effective Date</th>
										<th scope="col" >Remaining Pay Cycles</th>
										<th scope="col" >PerPay Cycle Contribution
											<input type="button" id="tooltip-perpayCD402" name="tooltip-perpayCD402Cont" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD402Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
											<div class="tipContents" id="help-perpayCD402Cont" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
										</th>
										<th scope="col" >YTD Contribution</th>
										<th scope="col" >Annual Total Plan Contribution
											<input type="button" id="tooltip-annualTPC402" name="tooltip-annualTPC402Cont" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC402Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
											<div class="tipContents" id="help-annualTPC402Cont" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>
										</th>
										<th scope="col">Last Updated Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="" >06/11/2014</td>
										<td class="" >21</td>
										<td class="" >$190</td>
										<td class="" >$500</td>
										<td class="" >
											<input type="button" id="tooltip-atpc402" name="tooltip-atpc402" class="tipLink2" value="$4490.00" role="button" aria-describedby="help-atpc402" />
											<div class="tipContents" id="help-atpc402" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
										</td>
										<td>03/01/2014</td>
									</tr>
								</tbody>
							</table>
							<div class="fll mtblg">Employer Contribution</div> 
							<div class="flr mtblg">							
								<span class="mrxlg">Deferral Type : Percent</span>
								<span class="mlxlg">Deferral Amount : 2%</span>							
							</div> 
							<table class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
								<caption>Salary Deferral Details</caption>
								<colgroup>
									<col span="1" class="w15">
									<col span="1" class="w20">
									<col span="1" class="w15">
									<col span="1" class="w15">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w15">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >Source Name</th>
										<th scope="col" >Source Election Value</th>
										<th scope="col" >Vendor</th>
										<th scope="col" >Vendor Allocation%</th>
										<th scope="col" >Sub-Plan</th>
										<th scope="col" >Sub-Plan Allocation</th>
										<th scope="col">Equivalent Dollar Allocation</th>
									</tr>
								</thead>
								<tbody>
									<tr class="">
										<td class="alignt">E</td>
										<td class="alignt">
										<a href="#" aria-describedby="help-exampleText402" role="button" class="tipLink2" name="tooltip-exampleText402" id="tooltip-exampleText402" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
										<div id="help-exampleText402" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
										<td class="alignt">TIAA-CREF</td>
										<td class="alignt">100%</td>
										<td>GA1001</td>
										<td>25%</td>
										<td>$473</td>
									</tr>
								</tbody>
							</table>
							<div class="fll mtblg">Employer Contribution</div> 
							<div class="flr mtblg">
								<span class="mrxlg">Contribution Type : Percent</span>
								<span class="mlxlg">Contribution Amount : 2%</span>							
							</div>  
							<table class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
								<caption>Salary Deferral Details</caption>
								<colgroup>
									<col span="1" class="w15">
									<col span="1" class="w20">
									<col span="1" class="w15">
									<col span="1" class="w15">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w15">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Source Name</th>
										<th scope="col">Source Election Value</th>
										<th scope="col">Vendor</th>
										<th scope="col">Vendor Allocation%</th>
										<th scope="col">Sub-Plan</th>
										<th scope="col">Sub-Plan Allocation</th>
										<th scope="col">Equivalent Dollar Allocation</th>
									</tr>
								</thead>
								<tbody>
									<tr  class="">
										<td class="alignt">F - Employer</td>
										<td class="alignt">
										<a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
										<div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
										<td class="alignt">TIAA-CREF</td>
										<td class="alignt">100%</td>
										<td>GS1001</td>
										<td>25%</td>
										<td>$473</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="hd">
						<h3>
							<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
						</h3>
					</div>
					<div class="content">
						<div class="bd">
							<div class="planpanel">
								<div class="panels">
									<div class="hd">
										<h3>
											<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">									
											<table id="dataDisplay" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
												<caption>Beneficiaries</caption>
												<colgroup>
													<col span="1" class="w25" >
													<col span="1" class="w25" >
													<col span="1" class="w25" >
													<col span="1" class="w25" >
												</colgroup>
												<thead>
													<tr>
														<th scope="col" >Sub-Plan</th>
														<th scope="col" >Type</th>
														<th scope="col"> Name</th>
														<th scope="col" >Entitlement</th>
													</tr>
												</thead>
												<tbody> 
													<tr>
														<td rowspan="6" class="alignt">GA1001</td>
														<td rowspan="2" class="alignt">Primary</td>
														<td>Army B</td>
														<td>50%</td>
													</tr>
													<tr>
														<td>Tim W</td><td>50%</td>
													</tr>
													<tr>
														<td rowspan="4" class="alignt">Contingent</td><td>Blair W</td><td>25%</td>
													</tr>
													<tr>
														<td>Petro R</td><td>25%</td>
													</tr>
													<tr>
														<td>Mike E</td><td>25%</td>
													</tr>
													<tr>
														<td>Beckey M</td><td>25%</td>
													</tr>											
												</tbody>
											</table>
										</div>
									</div>
									<div class="hd">
										<h3>
											<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">									
											<table id="" class="styleA fw" summary="Allocation">
												<caption>Allocation</caption>
												<colgroup>
													<col span="1" class="w25" >
													<col span="1" class="w25" >
													<col span="1" class="w25" >
													<col span="1" class="w25" >
												</colgroup>
												<thead>
													<tr>
														<th scope="col">Sub-Plan</th>
														<th scope="col">Asset Class</th>
														<th scope="col">Fund Name</th>
														<th scope="col">% Allocated</th>
													</tr>
												</thead>
												<tbody>
													<tr >
														<td rowspan="4" class="alignt">GA1001</td>
														<td rowspan="4" class="alignt">Real Estate</td>
														<td>Cref Social Choice</td>
														<td>25%</td>
														</tr>
													<tr>
														<td>PRUDENTIAL SMALL COMPANY Q</td>
														<td>35%</td>
													</tr>
													<tr>
														<td>AMERICAN GROWTH OF AMERICA R6</td>
														<td>20%</td>
													</tr>
													<tr>
														<td>CREF GLOBAL EQUITIES</td>
														<td>20%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div> 
						</div> 
					</div>
					
					<div class="hd">
						<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
							<span class="icon">+</span>Auto Enrollment</a>
						</h3>
					</div>
					<div class="content">
						<div class="bd">
						<div class="tableWrapper secLevelPanel">
							<table class="styleB" summary="Auto Enrollment">
								<caption>Auto Enrollment</caption>
								<colgroup>
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">				
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >Auto Enroll Type</th>
										<th scope="col" >SDA Already Created?</th>
										<th scope="col" >Auto Enroll Effective Date</th>
										<th scope="col" >Auto Enroll Start Date</th>
										<th scope="col" >Auto Enroll Stop Date</th>
										<th scope="col" >Online Opt-Out</th>
										<th scope="col" >Opt-out Days Remaining</th>
										<th scope="col" >Employee Auto Enroll Determining Factor</th>
										<th scope="col" >Deferral % divided by dollor amount</th>
										<th scope="col" >Permissive Withdrawals</th>					
									</tr>
								</thead>
								<tbody>
									<tr class="txtc">
										<td>ACA</td>
										<td>Yes</td>
										<td>03/21/2016</td>
										<td>04/24/2016</td>
										<td>04/15/2016</td>
										<td>Yes</td>
										<td>30</td>
										<td>Hire</td>
										<td>%</td>
										<td>No</td>					
									</tr>
									<tr class="txtc">
										<td>EACA</td>
										<td>No</td>
										<td>N/A</td>
										<td>03/11/2016</td>
										<td>04/16/2016</td>
										<td>No</td>
										<td>90</td>
										<td>Eligibility</td>
										<td>$500</td>
										<td>Yes</td>							
									</tr>
								</tbody>
							</table>
							</div>
							<div class="planpanel mt">
								<div class="panels">
									<div class="hd">
										<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
											<span class="icon">+</span>Table Definitions</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<p><span class="txtb">Auto Enroll Type</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>

											<p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
											 
											<p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Enroll Stop Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Online Opt-Out:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Opt-out Days Remaining:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											
											<p><span class="txtb">Employee Auto Enroll Determining Factor:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>						
											
											<p><span class="txtb">Deferral % divided by Dollar amount:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Permissive Withdrawals:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										</div>
									</div>
								</div>
							</div>				
						</div>
					</div>
			
					<div class="hd">
						<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
							<span class="icon">+</span>Auto Saved</a>
						</h3>
					</div>
					<div class="content">
						<div class="bd ">
						<div class="tableWrapper secLevelPanel">
							<table class="styleB" summary="Auto Saved">
								<caption>Auto Saved</caption>
								<colgroup>
									<col span="1" class="w10">
									<col span="1" class="w5">
									<col span="1" class="w5">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w5">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w5">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
										<th scope="col" >Participant Override Allowed</th>
										<th scope="col" >Auto Save Type Allowed</th>
										<th scope="col" >Auto Save Increase Amount or Percentage</th>
										<th scope="col" >Auto Save Increase Frequency</th>
										<th scope="col" >Auto Save Increase Rule</th>
										<th scope="col" >Auto Save Increase Date</th>
										<th scope="col" >Deferral Ceiling Limit Set by Participant</th>
										<th scope="col" >Deferral Ceiling Dollar Amount or Percentage</th>
										<th scope="col" >Auto Save Increase Amount Cap</th>
										<th scope="col" >Dollar Amount or Percentage Cap</th>
										<th scope="col" >Auto Increase Sources</th>
									</tr>
								</thead>
								<tbody>
									<tr class="txtc">
										<td>Employee</td>
										<td>Increase Amount</td>
										<td>Percent</td>
										<td>3%</td>
										<td>Quarterly</td>
										<td>First day of plan year</td>
										<td>12/01/2015</td>
										<td>Yes</td>
										<td>$1,000</td>
										<td>Yes</td>
										<td>$500</td>
										<td>E</td>
									</tr>
								</tbody>
							</table>
							</div>
							<div class="clear"></div>
							<div class="planpanel mt">
								<div class="panels">
									<div class="hd">
										<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
											<span class="icon">+</span>Table Definitions</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
			 
											<p><span class="txtb">Participant Override Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
											 
											<p><span class="txtb">Auto Save Type Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Save Increase Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Deferral Ceiling Limit Set by Participant:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Save Increase Amount Cap:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Dollar Amount or Percentage Cap:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										</div>
									</div>
								</div>
							</div>	<!--plan panel-->		
						</div> <!-- bd-->
					</div><!--content-->
					<div class="btnBar nbdr">					
						<button title="Modify SDA" class="btn btnSmall cmmnBtn" id="mdifySDAPlan01"><span>Modify SDA</span></button>
						<button title="Update" class="btn btnSmall cmmnBtn" id="updatePlan01"><span>Update</span></button>
					</div>
					
					<!--Start of Plan A -->

					<div class="hd mtm">
						<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
						<span class="icon">+</span>Plan A</a>
						</h3>
					</div>
					<div class="content">
						<div class="bd">
						<div class="tableWrapper secLevelPanel">		
							<table id="planATbl402" class="styleB" summary="Plan A Table">
								<caption>Plan A Table</caption>
								<colgroup>
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">
									<col span="1" class="w10">				
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >Auto Enroll Type</th>
										<th scope="col" >SDA Already Created?</th>
										<th scope="col" >Auto Enroll Effective Date</th>
										<th scope="col" >Auto Enroll Start Date</th>
										<th scope="col" >Auto Enroll Stop Date</th>
										<th scope="col" >Online Opt-Out</th>
										<th scope="col" >Opt-out Days Remaining</th>
										<th scope="col" >Employee Auto Enroll Determining Factor</th>
										<th scope="col" >Deferral % divided by dollor amount</th>
										<th scope="col" >Permissive Withdrawals</th>					
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>					
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>							
									</tr>
								</tbody>
							</table>
							</div>
							<div class="clear"></div>
							<div class="planpanel mt">
								<div class="panels">
									<div class="hd">
										<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
											<span class="icon">+</span>Table Definitions</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<p><span class="txtb">Auto Enroll Type</span> = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>

											<p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
											 
											<p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Auto Enroll Stop Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Online Opt-Out:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Opt-out Days Remaining:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											
											<p><span class="txtb">Employee Auto Enroll Determining Factor:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>						
											
											<p><span class="txtb">Deferral % divided by Dollar amount:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
											 
											<p><span class="txtb">Permissive Withdrawals:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										</div>
									</div>
								</div>
							</div>	<!--plan panel-->	
						</div>
					</div><!-- End of Plan A -->				
				</div><!--End of Sub panels-->						
			</div><!--bd-->
		</div> <!--content-->

		<!-- End of Plan 403402-->
 
</div>	 <!-- panels-->
